.country{
    border: 2px solid goldenrod;
     margin: 20px;
    padding: 20px; 
     border-radius: 20px; 
} 

.country-visited{
    background-color: rgb(218, 232, 245);
}
.country img{
    width: 100%;
    height: auto;
}